#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}


<section class="center aligned ui segment">
  <div class="ui two column padded very relaxed stackable grid">
    <div class="column"><br><br><br>
      <h1 class="ui header">
        BMI Tracker<br><br><br>
      </h1>
      <p>
        <font size="5">Fill in your asssesments week by week and track your BMI.Trainers will comment on your progress and encourage you to keep going!</font>
      </p>
    </div>
    <div class="column">
      <img class="ui centered large image" src="public/images/fitness-icons.jpg">
    </div>
  </div>
</section>