#{extends 'main.html' /}
#{set title:'Admin' /}

<section class="ui raised segment">
    <header class="ui header">
        Play gym
    </header>
    <table class=" ui single line celled table">
        <thead>
        <tr>
            <th>Weight</th>
            <th>Chest</th>
            <th>Thigh</th>
            <th>Upper Arm</th>
            <th>Waist</th>
            <th>Hips</th>
        </tr>
        </thead>
        <tbody>
        #{list items:assessmentList, as:'assessment'}
        <tr>
            <td>${assessment.id} </td>
            <td>${assessment.weight} </td>
            <td>${assessment.chest}</td>
            <td>${assessment.thigh}</td>
            <td>${assessment.upperArm}</td>
            <td>${assessment.waist}</td>
            <td>${assessment.hips}</td>
            <td>${assessment.comment}</td>
            #{/list}
        </tr>
        </tbody>
    </table>
</section>